.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* width: 100vw; */
}

.grid-container {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.cards {
  display: flex;
  margin: 0 3rem 0 3rem;
  /* min-width: 350px; */
  min-width: 30vw;
  max-width: 40vw;
}

.example-card {
    /* max-width: 400px; */
    box-shadow: rgba(0, 0, 0, 0.2) 2.95px 1.95px 2.6px;
    margin: 2rem 0 2rem 0;
}

.example-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2.6px 2px;
    transform: scale(1.005);
    transition: 250ms transform ease-in-out;
}
  
.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }
  

/* MEDIA QUERIES */

@media only screen and (max-width: 1043px) {
  .container {
    align-items: center;
    justify-content: center;
  }

  .cards {
    min-width: 60vw;
    max-width: 70vw;
  }
}





/*   
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }

.grid > article img {
    max-width: 100%;
  }

.text {
    padding: 0 20px 20px;
  }

.text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

 */
