
a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navlinks {
    display: flex;
    flex-direction: row;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}